version: '3'
services:
  dev:
    image: "tgorka/devnut"
    ports:
     - "5000:80"
     - "5080:80"
     - "5081:81"
     - "5022:22"
    volume:
     - /tmp/.X11-unix:/tmp/.X11-unix
     - .:/home/nut
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 8G
        reservations:
          cpus: '0.25'
          memory: 256M
